body {
    background-color: #2C3930;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #DCD7C9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: #DCD7C9;;
    margin: auto 10px;
    font-size: large;
}

header a:hover {
    color: #3F4F44;
}

hr {
    border: 1px solid #3F4F44;
}

.card {
    background-color: #3F4F44;
    border-radius: 20px;
    padding: 30px;
    max-width: 500px;
    height: auto;
    margin: 100px auto;
    text-align: center;
}

.stack {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.stack label {
    font-size: large;
    margin: 0 7px;
}

.stack input, select {
    border: none;
    border-radius: 10px;
    width: 30%;
    font-size: medium;
    padding: 7px;
    margin: 0 7px;    
    text-align: center;
}

.stack p {
    margin: 0 7px;
    font-size: large;
    font-weight: bolder;
}

button {
    border: none;
    border-radius: 7px;
    background-color: #2C3930;
    margin: 10px;
    padding: 10px;
    font-size: medium;
    color: #DCD7C9; 
}

.links {
    display: flex;
    flex-direction: column;
}

.links a {
    text-decoration: none;
    color: #DCD7C9;
    margin: 10px 0;
    font-size: x-large;
}

.links a:hover {
    color: #2C3930;
}

footer {
    color: #DCD7C9;
    text-align: center;
    font-size: smaller;
}

@media (max-width: 500px) {
    header a {
        font-size: small;
    }
}